.foods-section {
  align-items: center;
  text-align: center;
  padding: 50px 0;
  background-color: #ffedde;
}

.foods-text_header {
  padding: 2rem;
  width: 70%;
  margin: 1rem auto;
  text-align: center;
}

.foods-text_header h1 {
  color: #2e266f;
  padding: 1rem;
}

.foods-text_header p {
  color: #707070;
}

.card {
  border-radius: 15px;
  background-color: #fff;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.3);
  width: 300px;
  display: inline-block;
  margin: 2rem 1.5rem;
}

.card-image__wrap {
  border-radius: 12px 12px 0 0;
  border: 1px solid black;
  width: 100%;
  object-fit: cover;
}

.card-text__wrap {
  padding: 1rem;
  text-align: start;
}

.card-text__wrap h4 {
  color: #2e266f;
  display: inline-block;
}
.card-text__wrap span {
  color: #fe043c;
  font-weight: 900;
  margin-left: 7rem;
}

.card-text__wrap p {
  color: #707070;
  margin-top: 1rem;
  letter-spacing: 1px;
}

@media (min-width: 421px) and (max-width: 750px) {
  .card {
    width: 350px;
    margin: 2rem 0;
  }
}

@media screen and (max-width: 420px) {
  .foods-text_header {
    padding: 1rem;
    width: 100%;
  }
  .card {
    width: 100%;
    margin: 1rem 0;
  }

  .card-text__wrap span {
    margin-left: 4rem;
  }
}
